h3{
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:black;
  text-align: center; 
  text-decoration: underline
}
.register{
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
 margin-top:30px;
 
}

table{
  font-family: Calibri; 
  color:black; 
  font-size: 15pt; 
  font-style: normal;
  font-weight: bold;
  
  
  border: 2px solid black;
  border-spacing: 15px;
}
table.inner{
  border: 0px;
    
  
}
.bd{
  margin-top: 200px;
  font-size: 15pt;
}
